@model IPagedList<LxShop.Models.EF.Product_image>
@using PagedList;
@using LxShop.Models.EF

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a> Trang chủ </a></li>
                    <li class="breadcrumb-item active"><a ui-sref="#">Hình Ảnh</a></li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<form class="form-inline" style="margin-left:30px" name="frmProductColor">
    <div class="form-group">
        <input type="text" class="form-control" id="product_nameImage" name="" placeholder="Tên sản phẩm..." />
        @*<input type="text" class="form-control" id="Product_Category" name="Product_Category.Product_CategoryId" placeholder="Tên danh mục..." />*@
        <button type="button" id="searchProductName" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
    </div>

</form>
<div class="form-group" style="margin-right:60px; float:right;margin-top:-33px">
    <button type="button" class="btn btn-primary" onclick="GetCreateImage()"><span class="glyphicon glyphicon-plus" style="margin-right:2px"></span>Thêm</button>
</div>
<hr />
<div id="content-view">
    @{
        Html.RenderAction("_TableView", "Product_image");
    }
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="myModal-Image">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="content-modal-Image">

        </div>
    </div>
</div>

