@model LxShop.Models.EF.Product_Category_Type

@{
    ViewBag.Title = "Delete";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="modal-header">
    <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 style="text-align:center;margin:0">Xóa thông tin</h3>
</div>
<div class="modal-body">
    @Html.HiddenFor(model => model.Product_Category_TypeId, new { htmlAttributes = new { @id = "Product_Category_TypeId" } })
    <h3 style="margin:0">Bạn có chắc chắn muốn xóa <strong> @Model.Product_Category_TypeName</strong> không?</h3>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal">Hủy</button>
    <button class="btn btn-primary" onclick="Del_Category_Type()" type="button">Xóa</button>
</div>

