@model LxShop.Models.EF.AccountAdmin

@{
    ViewBag.Title = "Delete";
}

<div class="modal-header">
    <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 style="text-align:center;margin:0">Xóa thông tin</h3>
</div>
<div class="modal-body mentos">
    @Html.HiddenFor(model => model.ID, new { htmlAttributes = new { @id = "ID" } })
    <h3 style="margin:0">Bạn có chắc chắn muốn xóa <strong> @Model.Username</strong> không?</h3>

</div>
<div class="modal-footer" style="padding:5px 10px 10px;">
    <button class="btn btn-danger" data-dismiss="modal">Hủy</button>
    <button class="btn btn-primary" onclick="Del_Ad()" type="button">Xóa</button>
</div>
