@model LxShop.Models.EF.AccountAdmin

    <div class="user-panel">
        <div class="pull-left image">
            <img src="@Model.Avatar" class="img-circle upload-img" alt="User Image">
        
        </div>
        <div class="pull-left info">
            <p>@Model.Displayname</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
